<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Code</title>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <span id="load_date" th:text="${code.getDate()}"></span>
    <p>
        <span th:if="${code.isViewsRestricted()}">
            <span id="views_restriction" th:text="${code.getViews()}"></span> more views allowed
        </span>
    </p>
    <p>
        <span th:if="${code.isTimeRestricted()}">
            The code will be available for <span id="time_restriction" th:text="${code.getTime()}"></span> seconds
        </span>
    </p>
    <pre id="code_snippet">
        <code th:text="${code.getCode()}"></code>
    </pre>
</body>
</html>